.BlogSection{
    margin-left: 13%;
}

.slide_bg{
    padding: 170px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin-top: 8%;
    padding: 330px 0 234px;
}
.img_Slider{
    top: -127px;
    left: -15px;
    position: relative;
    width: 102%;
    height: 106px;
  
    background-image: url("../../../assets/banner/bradcam.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Title_cont{
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    color: white;
    position: absolute;
    font-weight: 400;
    left: 45%;
    top: 54%;
    font-size: 65px;
    margin-bottom: 0;
    text-transform: capitalize;
}
.BlogSection{
    margin-left: 12%;
}
.calender{
    position: absolute;
    margin-top: -7%;
    margin-left: 5%;
    background-color: #009DFF;
    width: 10%;
    padding-left: 3.3%;
    border-radius: 10%;
    padding-top: 0%;
}
.calender h3{
    color: white;
    margin-top: 16%;
    position: absolute;
}
.calender p{
    color: white;
    font-size: 18px;
    margin-top: 87%;
}
.calender:hover{
    background-color: white;
    border: 2px solid #009DFF;
}

.calender:hover h3 {
    color: #009DFF;
}
.calender:hover p{
    color: #009DFF;
}


.BlogDes{
    box-shadow: -9px 10px 40px -8px rgba(66,64,66,0.47);
    margin-top: -6%;
    width: 98%;
    padding-top: 15%;
}

.BlogTitle{
    transition: .5s;
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 6%;
}
.BlogTitle:hover{
    color: #009DFF;
}
.Bltxt{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4D4D4D;
    margin-bottom: 13px;
    font-family: 'Raleway', sans-serif;
    margin-left: 6%;
}

.CommSec {
    margin-left: -5%;
    padding-bottom: 2%;

}
.CommSec li{
    list-style: none;
    font-size: 14px;
}
.CommSec li i{
    color: #4D4D4D;
}

.CommSec li a{
    color: #999999;
    font-size: 15px;
    text-decoration-line: none;
}
.commPart{
    padding-right: 2%;
    cursor: pointer;
}
.CommSec span{
    padding-right: 13px;
    margin-left: 2%;
}
.CommSec li:hover a{
    color: #009DFF;
}
.CommSec li:hover a i{
    color: #009DFF;
}

.blogImg{
    border-radius: 8px;
    position: relative;
}


.partII_I{
    background: #fbf9ff;
    position: relative;
    padding: 7%;
    width: 85%;
    margin-top: 8%;
}
.srchInp{
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0;
    border: 1px solid #ced4da;
}

.srchBtn{
    width: 100%;
    background: #fff;
    color: #131313;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #009DFF;
    letter-spacing: 3px;
    text-align: center;
    color: #009DFF !important;
    text-transform: uppercase;
    cursor: pointer;

}
.srchBtn:hover{
    background: #009DFF;
    color: #fff !important;
}

.srchIcon{
    position: absolute;
    top: 23%;
    right: 13%;
    color: gray;
    font-weight: 100;
    font-size: 18px;
}

.partII_II{
    background: #fbf9ff;
    position: relative;
    padding: 7%;
    width: 85%;
    margin-top: 8%;
}

.catTitle{
    font-size: 20px;
    margin-bottom: 40px;
    
}
.catTitle::after{
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
}
.CatList{
    list-style: none;
}
.CatList li{
    padding-bottom: 7%;
    margin-left: -15%;
    margin-top: 12%;
    border-bottom: 1px solid #f0e9ff;
}
.lastItem{
    border-bottom: none !important;
}
.CatList li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #666 !important;
    transition: .5s;
}

.CatList li a:hover{
    color: #009DFF !important;

}
.RecPost li{
    padding-bottom: 7%;
    margin-left: -15%;
    margin-top: 12%;
}
.RecPost li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #666 !important;
    transition: .5s;
}

.RecPost li a:hover{
    color: #009DFF !important;

}
.postDes{
    margin-left: 5%;
    margin-top: 5%;
}

.TagList{
    margin-left: -14%;
}
.TagList li{
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
    cursor: pointer;
}
.TagList li a{
    text-decoration: none;
    color: #888888;
}
.TagList li:hover a{
    color: #fff;
}
.TagList li:hover {
    background: #009DFF;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  
}
.instList{
    margin-left: -14%;
}
.instList li{
    display: inline-block;
    list-style: none;
    padding-left: 3%;
    padding-bottom: 3%;
}

.pagesNav{
    margin-top: 2%;
    margin-left: 43%;
    padding-bottom: 7%;
}

.pageList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.pageList li{
    list-style: none;
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px;
    cursor: pointer;
}

.pageList li a{
    color: #8a8a8a;
    text-decoration: none;
}
.pageList li:hover , .pageList li:hover a{
    color: #009DFF;
}

.parSection{
    background: rgba(130,139,178,0.1);
    padding: 15px;
    line-height: 1.733;
    color: #888888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 4%;
}
.parTxt{
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid;
}
p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    
    color: #999999;
    margin-bottom: 13px;
    font-family: 'Raleway', sans-serif;
}

.navSection{
    padding-top: 15px;
    border-top: 1px solid #f0e9ff;

}
.socSec{
    position: absolute;
    right: 4%;
}
.socSec li{
    list-style: none;
    font-size: 16px;
    padding-left: 15%;
    position: relative;
}
.socSec li a{
    color: #999999;
    font-size: 15px;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}
.socSec li a:hover{
    color: #009DFF;
}

.likesTxt{
    font-weight: 300;
    line-height: 28px;
    color: #4D4D4D;
}
.pre_nexImg{
    height: 100%;
    z-index: 5;
}
.pre_txtI{
    line-height: 1;
}
.nextTXT{
    margin-left: 26%;
}

.nextDet{
    margin-left: -17%;
}
.detTxt{
    font-size: 18px;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    color: #1F1F1F;
    cursor: pointer;
    font-weight: 500;
    
}
.detTxt:hover{
    color: #009DFF;
}
.prev{
    margin-top: 2%;
    margin-left: 7%;
}

.next{
    margin-top: 2%;
}
.nextPart{
    margin-left: 45%;
}
.PrevPart{
    margin-left: 2%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 22px;
    width: 15%;
    height: 82%;
    z-index: 4;
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.overlayI {
    left: 77% !important;
    width: 16% !important;
}

.img:hover .overlay{
    visibility: visible;
    opacity: 1;
}
.prevIcon{
    color: #fff;
    margin-top: 25%;
    margin-left: 30%;
    font-size: 28px;
}

.posts{
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 3%;
}
.media{
    display: flex;
    padding-bottom: 4%;
}
.authimg{
    width: 20%;
}
.mediaSec{
    margin-left: 2%;
}
.mediaSec p{
    font-style: normal !important;
}

.CommentSection{
    border-top: 1px solid #f0e9ff;
    border-bottom: 1px solid #f0e9ff;
}
.commNum{
    padding-top: 5%;
    padding-bottom: 6%;
    font-size: 20px;
}
.CommentSection p{
    padding-right: 2%;
}

.reptxt{
    align-self: baseline;
    position: absolute;
    right: 5.1%;
    text-decoration: none;
    color: #999999;
    font-size: 14px;
}
.reptxt:hover{
    color: #009DFF;
}

.TxtArea{
    width: 100%;
    height: 170px;
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    padding-left: 2%;
    padding-top: 2%;
    font-size: 15px;
    background: transparent;
    resize: none;
}

    .NmSec{
        width: 100%;
        height: 180%;
        padding-left: 4%;
        border: 1px solid #e5e6e9;
        border-radius: 0px;
        font-size: 15px;
        background: transparent;
    }
    .emSec{
        margin-left: -0;
    }
    .SubSec{
        width: 100%;
        height: 45px;
        padding-left: 2%;
        border: 1px solid #e5e6e9;
        border-radius: 0px;
        font-size: 15px;
        background: transparent;
    }
    .SendBtn{
    
        background: #fff;
        color: #131313;
        display: inline-block;
        padding: 18px 44px;
        font-family: "Raleway",sans-serif;
        font-size: 14px;
        font-weight: 400;
        border: 0;
        border: 1px solid #009DFF;
        letter-spacing: 3px;
        text-align: center;
        color: #009DFF !important;
        text-transform: uppercase;
        cursor: pointer;
    }
    .SendBtn:hover{
        background-color: #009DFF;
        color: white !important;
        border: 1px solid #009DFF;
    }