<section class="About">
    <div class="container-fluid">
        <div   class=" img_Slider slide_bg" >
             <h1 class="Title_cont"> About Montana</h1>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-md-5">
                <div class="part1">
                   <p class="about_head"> About us </p>
               <h2 class="about_title"> A Luxuries Hotel with Nature </h2>
               <p class="about_des">Suscipit libero pretium nullam potenti.
                    Interdum, blandit phasellus consectetuer
                     dolor ornare dapibus enim ut tincidunt
                      rhoncus tellus sollicitudin pede nam 
                      maecenas, dolor sem. Neque sollicitudin enim.
                       Dapibus lorem feugiat facilisi faucibus et.
                        Rhoncus.
              </p>
                  <button class="learnBtn">  Learn More  </button>  
                </div>
                    
            </div>
            <div class="col-md-7">
                 <div class="img_Part">
                     <img src="../../../assets/about/about_1.png" class="ImgI" >
                     <img src="../../../assets/about/about_2.png" class="ImgII" >
                 </div>
            </div>
        </div>

        <br> <br> <br>

        <div class="big_img col-md-12">
            <img src="../../../assets/banner/about_banner.png" class="big_cont">
        </div> 

        <br> <br> <br> <br>

        <div class="row">
            <div class="col-md-6">
               <p class="big_title BTI">  
                   We Serve Fresh and Delicious Food 
               </p>
               <p class="sml_title STI"> 
                Suscipit libero pretium nullam potenti.
                 Interdum, blandit phasellus consectetuer
                  dolor ornare dapibus enim ut tincidunt 
                  rhoncus tellus sollicitudin pede nam
                   maecenas, dolor sem. Neque sollicitudin
                    enim. Dapibus lorem feugiat facilisi 
                    faucibus et. Rhoncus.
               </p>
            </div>

            <div class="col-md-6">
                <p class="big_title BTII"> 
                    We Serve Fresh and Delicious Food 
                </p>
                <p class="sml_title STII"> 
                 Suscipit libero pretium nullam potenti.
                  Interdum, blandit phasellus consectetuer
                   dolor ornare dapibus enim ut tincidunt 
                   rhoncus tellus sollicitudin pede nam
                    maecenas, dolor sem. Neque sollicitudin
                     enim. Dapibus lorem feugiat facilisi 
                     faucibus et. Rhoncus.
                </p>
             </div>
        </div>

        <br><br><br><br><br>

        <div class="tele">
            <div class="row">
                <div class="col-md-6">
                    <p class="Res"> For Reservation 0r Query?</p>
                </div>
                <div class="col-md-6">
                   <a href="#" class="tel_cont">+10 576 377 4789 </a>
                </div>
                

            </div>
        </div>

        <br> <br>
        <div class="row">
            <div class="col padding-0 imgDive">
                <img src="../../../assets/instragram/1.png" class="insta_img">
                <div class="overlay">
                    <a href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="col padding-0 imgDive">
                <img src="../../../assets/instragram/2.png" class="insta_img">
                <div class="overlay">
                    <a href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="col padding-0 imgDive">
                <img src="../../../assets/instragram/3.png" class="insta_img">
                <div class="overlay">
                    <a href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="col padding-0 imgDive">
                <img src="../../../assets/instragram/4.png" class="insta_img">
                <div class="overlay">
                    <a href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="col padding-0 imgDive">
                <img src="../../../assets/instragram/5.png" class="insta_img">
                <div class="overlay">
                    <a href="">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

    