.slide_bg{
    padding: 170px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin-top: 8%;
    padding: 330px 0 234px;
}
.img_Slider{
    top: -127px;
    left: -15px;
    position: relative;
    width: 102%;
    height: 106px;
  
    background-image: url("../../../assets/banner/bradcam2.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Title_cont{
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    color: white;
    position: absolute;
    font-weight: 400;
    left: 34%;
    top: 54%;
    font-size: 65px;
    margin-bottom: 0;
    text-transform: capitalize;
}



.titleI{
    color: #009DFF;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 23px;
    display: block;
    margin-left: 14%;
}

.titleII{
    font-size: 50px;
    font-weight: 400;
    line-height: 56px;
    color: #1F1F1F;
}

.Titles{
    margin-left: 39%;
    padding-bottom: 3%;
}
.offer_img{
    margin-left: 9%;
    overflow: hidden;
}

 .offer_imgII{
    margin-left: 5%;
}
.offer_imgIII{
    margin-left: 5%;
} 
.off_col{
    overflow: hidden;
    width: 127%;
    height: 57%;
}
.off_img_cont{
    width: 120%;
    transition: .3s;
    transform: scale(1);
}
.off_img_cont:hover{
    width: 120%;
    transform: scale(1.1);
}

.offer_title{
    font-size: 22px;
    font-weight: 400;
    color: #1F1F1F;
}
.offerList{
    margin-left: -7%;
}
.offerList li{
    font-size: 19px;
    color: #4D4D4D;
    line-height: 31px;
    position: relative;
    z-index: 9;
}

.book_btn{
    background-color:white ;
    border:1px solid #009dff;
    color: #009dff;
    padding: 12px 30px 12px 30px;
    position: relative;
    width: 123%;
}

.book_btn:hover{
    background-color: #009DFF;
    color: white;
}

.titleIF{
    color: #009DFF;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 23px;
    display: block;
    margin-left: 21%;
}



.TitlesF{
    margin-left: 30%;
    padding-bottom: 3%;
}


.Room{
    position: relative;
    width: 50%;
    float: left;

}
.room_img{
    width: 100%;
    transition: .5s;
    transform: scale(1);
}

.roomDiv:hover .room_img{ 
    width: 100%;
    transform: scale(1.1);
}
.Room_Section{
    width: 103.1%;
    margin-left: -2%;
}
.roomDiv{
    width: 100%;
    overflow: hidden;
    
}
.roomDiv::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; /* set to 100% for full overlay width */
    background: linear-gradient(to bottom, rgba(236, 235, 235, 0.493) 0%,rgba(0,0,0,0.4) 100%);
}


.roomDes{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    padding: 60px 60px 47px 60px;
}
.roomTxt span  {
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 9px;
    display: block;
    position: relative;
    z-index: 8;
}
.roomTxt h3 {
    font-size: 30px;
    color: #fff;
    position: relative;
    z-index: 8;
}


.bkNowBtn{
    border: none;
    border-bottom: 1.7px solid white;
    background: transparent;
    float: right;
    color: #fff;
    font-weight: 600;
    position: relative;
    z-index: 8;
    margin-bottom: 36px;
    margin-left: 46%;
    /* transform: translateY(-40px); */
    transform: translate3d(67px, -50px, 0);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    outline: none;
}

.roomDiv:hover .bkNowBtn{
    transform: translate3d(10px, 15px, 0);
    opacity: 1;
    visibility: visible;
   
}
.bkNowBtn:hover{
    color: #009DFF;
    border-bottom: 1.7px solid #009DFF;
}

.tele{
    border: 1px solid #bababa;
    padding: 49px 49px 37px 39px;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    margin-top: 58%;
}

.Res{
    font-size: 33px;
    color: #1f1f1f;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 28px;
    margin-top: 3%;
}
.tel_cont{
    background: #009dff;
    color: #fff;
    padding: 13px 54px;
    border-radius: 30px;
    display: inline-block;
    font-size: 20px;
    border: 1px solid transparent;
    margin-left: 27%;
    text-decoration: none;
    transition: 0.5s;
}

.tel_cont:hover{
    background: #fff ;
    border: 1px solid #009dff;
    color: #009dff;
}

.padding-0{
    padding-right:0;
    padding-left:0;
    overflow: hidden;
}
.insta_img{
width: 100%;
cursor: pointer;
   transform: scaleX(1);
    transition: .5s;
}

.insta_img:hover{
    transform: scaleX(1.1);
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    transform: translateX(-80%);
    transition: .5s;
    opacity: 0;
    visibility: hidden;

}
.overlay a{
    color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    text-align: center;
    font-size: 34px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.imgDive:hover  .overlay{
    visibility: visible;
    transform: translateX(0%);
    opacity: 1;
    
}

.insta_img:hover .overlay a{
    text-decoration: none;
    color: #1f1f1f;
}

