<section class="Rooms">
   <div class="container-fluid">
       <div   class=" img_Slider slide_bg" >
            <h1 class="Title_cont"> Laxaries Rooms</h1>
       </div>

       <br><br><br>

       <div>
          <div class="Titles">
               <p class="titleI">Our Offers</p>
                <h1 class="titleII">Ongoing Offers</h1>
          </div>
         
          <div class="row offer_img">
             <div class="col-md-3  ">
                <div class="off_col">
                   <img src="../../../assets/offers/1.png"  class="off_img_cont">
                   
                </div>
                <br>
                   <p class="offer_title">
                     Up to 35% savings on Club
                     rooms and Suites
                   </p>
                   <ul class="offerList">
                        <li> Luxaries condition  </li>
                        <li> 3 Adults & 2 Children size </li>
                        <li> Sea view side </li>
                   </ul>
                   <br>
                   <button class="book_btn">
                     Book A Room
                 </button>
             </div>
             <div class="col-md-3 offer_imgII">
               <div class="off_col">
                  <img src="../../../assets/offers/2.png" class="off_img_cont" > 
               </div>
               <br>
               <p class="offer_title">
                 Up to 35% savings on Club
                 rooms and Suites
               </p>
               <ul class="offerList">
                    <li> Luxaries condition  </li>
                    <li> 3 Adults & 2 Children size </li>
                    <li> Sea view side </li>
               </ul>
               <br>
               <button class="book_btn">
                  Book A Room
              </button>

             </div>
             <div class="col-md-3 offer_imgIII">
               <div class="off_col">
                   <img src="../../../assets/offers/3.png" class="off_img_cont">
               </div>
               <br>
               <p class="offer_title">
                 Up to 35% savings on Club
                 rooms and Suites
               </p>
               <ul class="offerList">
                    <li> Luxaries condition  </li>
                    <li> 3 Adults & 2 Children size </li>
                    <li> Sea view side </li>
               </ul>
               <br>
               <button class="book_btn">
                  Book A Room
              </button>
             </div>
             
          </div>
       </div>
       

       <br> <br> <br> <br> <br>

       <div>
         <div class="TitlesF">
            <p class="titleIF">Featured Rooms</p>
             <h1 class="titleII">Choose a Better Room</h1>
       </div>
       <br> <br>
       <div class="Room_Section">
         <div class="Room">
            <div class="roomDiv">
               <img src="../../../assets/rooms/1.png" class="room_img">
               <div class="roomDes row">
                  <div class="roomTxt">
                     <span> From $250/night </span>
                     <h3>Superior Room </h3>
                  </div>
                  <button class="bkNowBtn"> Book Now </button>
               </div>
            </div>
            
         </div>
         <div class="Room">
            <div class="roomDiv">
               <img src="../../../assets/rooms/2.png" class="room_img">
               <div class="roomDes row">
                  <div class="roomTxt">
                     <span> From $250/night </span>
                     <h3>Deluxe Room</h3>
                  </div>
                  <button class="bkNowBtn"> Book Now </button>
               </div>

            </div>
           
         </div>
         <div class="Room">
            <div class="roomDiv">
               <img src="../../../assets/rooms/3.png" class="room_img">
               <div class="roomDes row">
                  <div class="roomTxt">
                     <span> From $250/night </span>
                     <h3>Signature Room </h3>
                  </div>
                  <button class="bkNowBtn"> Book Now </button>
               </div>

            </div>
            
         </div>
         <div class="Room">
            <div class="roomDiv">
               <img src="../../../assets/rooms/4.png" class="room_img">
               <div class="roomDes row">
                  <div class="roomTxt">
                     <span> From $250/night </span>
                     <h3>Couple Room </h3>
                  </div>
                  <button class="bkNowBtn"> Book Now </button>
               </div>

            </div>
            
         </div>
       </div>
       </div>

       <br> <br> <br> <br>

       

       <br><br><br><br><br>

       <div class="tele">
           <div class="row">
               <div class="col-md-6">
                   <p class="Res"> For Reservation 0r Query?</p>
               </div>
               <div class="col-md-6">
                  <a href="#" class="tel_cont">+10 576 377 4789 </a>
               </div>
               

           </div>
       </div>

       <br> <br> <br> <br>
       <div class="row">
           <div class="col padding-0 imgDive">
               <img src="../../../assets/instragram/1.png" class="insta_img">
               <div class="overlay">
                   <a href="">
                       <i class="fa fa-instagram"></i>
                   </a>
               </div>
           </div>

           <div class="col padding-0 imgDive">
               <img src="../../../assets/instragram/2.png" class="insta_img">
               <div class="overlay">
                   <a href="">
                       <i class="fa fa-instagram"></i>
                   </a>
               </div>
           </div>

           <div class="col padding-0 imgDive">
               <img src="../../../assets/instragram/3.png" class="insta_img">
               <div class="overlay">
                   <a href="">
                       <i class="fa fa-instagram"></i>
                   </a>
               </div>
           </div>

           <div class="col padding-0 imgDive">
               <img src="../../../assets/instragram/4.png" class="insta_img">
               <div class="overlay">
                   <a href="">
                       <i class="fa fa-instagram"></i>
                   </a>
               </div>
           </div>

           <div class="col padding-0 imgDive">
               <img src="../../../assets/instragram/5.png" class="insta_img">
               <div class="overlay">
                   <a href="">
                       <i class="fa fa-instagram"></i>
                   </a>
               </div>
           </div>
       </div>
   </div>
</section>

   